<!DOCTYPE html>
<html>
<head>
  <title>Parley</title>

   <script src="https://js.pusher.com/3.2/pusher.min.js"></script>
  <script id="pusher-key" type='text/javascript'>
    window.myPusherK = '<%= Figaro.env.pusher_key! %>'
  </script>
  <!-- <script type="text/javascript">
    window.mySplashPath = '<%= Figaro.env.main_img! %>'
    window.myBackgroundPath = '<%= Figaro.env.dark_img! %>'
  </script> -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700" rel="stylesheet">
  <script id="bootstrap-current-user" type="text/javascript">
    <% if current_user %>
    	window.currentUser = <%= render("api/users/user.json.jbuilder",
    		user: current_user).html_safe %>
    <% end %>
  </script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body id='body'>

<%= yield %>

</body>
</html>
